/* .container {
    width: 500px;
  } */

.rhap_container {
  background-color: #181818;
  border-top: 1px solid #282828;
  height: 90px;
}

.rhap_main {
  margin-bottom: 100px;
}

.rhap_main.rhap_stacked > .rhap_progress-section {
  order: 2;

}

.rhap_main.rhap_stacked > .rhap_controls-section {
  order: 1;
  margin-bottom: 5px;
}

.rhap_main.rhap_stacked {
  /* padding-bottom: 100px; */
  margin-top: -5px;
}

.rhap_main-controls-button {
  color: #a7a7a7;
}

button[aria-label="Previous"]:hover {
  color: white;
}

button[aria-label="Skip"]:hover {
  color: white;
}

.rhap_play-pause-button {
  color: white;
  height: 37px;
  width: 37px;
  font-size: 37px;
  /* font-weight: bold; */

  margin-left: 12.5px;
  margin-right: 12.5px;
}

.rhap_button-clear:hover {
  opacity: 1;
}

.rhap_play-pause-button:hover {
  transform: scale(1.06);
}


.rhap_progress-section {
  /* background-color: #1db954; */
  margin-left: 31%;
  margin-right: 31%;
}

.rhap_progress-container:hover .rhap_progress-filled {
  background-color: #1db954;
}

.rhap_progress-container:hover .rhap_progress-indicator {
  visibility: visible;
}

.rhap_download-progress {
  background-color: #505050;
  height: 4px;
}

.rhap_progress-filled {
  background-color: white;
  height: 4px;
}

.rhap_progress-bar-show-download {
  background-color: #505050;
  height: 4px;
}

.rhap_progress-indicator {
  visibility: hidden;
  background-color: white;
  height: 12px;
  width: 12px;
  margin-top: 4px;
}

.rhap_time {
  /* color: var(#a7a7a7, #6a6a6a); */
  color: #a7a7a7;
  font-size: 11px;
}

.rhap_current-time.rhap_time.rhap_current-time {
  margin-top: 1.5px;
  margin-right: -5px;
}

.rhap_time.rhap_total-time {
  margin-top: 1.5px;
  margin-left: -5px;
}

.rhap_volume-bar {
  background-color: #505050;
  height: 4px;
}

.rhap_volume-controls {
  margin-right: 50px;
  margin-left: -150px;

  margin-top: 12px;
  margin-bottom: -12px;
  
}

.rhap_volume-bar-area {
  /* background-color: blue; */
  width: 100px;
  /* margin-left: -50px; */
}

.rhap_volume-button {
  font-size: 22px;
  margin-bottom: -5px;
}

.rhap_volume-button:hover {
  color: white;
}

.rhap_volume-filled {
  background-color: white;
}

.rhap_volume-container:hover .rhap_volume-filled {
  background-color: #1db954;
}

.rhap_volume-indicator {
  background-color: white;
  visibility: hidden;
  /* order: 1; */
  z-index: 3;
}

.rhap_volume-container:hover .rhap_volume-indicator {
  visibility: visible;
}