.track {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* border: .2px solid hotpink; */
    border-radius: 5px;
    height: 55px;
    padding: 2px;
}

.track:hover {
    background-color: rgba(72,72,72,0.3);
}

.track:hover > .options-button {
    visibility: visible;
}

.track:hover .artist-name-track {
    color: white;
}

.play-pause-and-text {
    display: flex;
    flex-direction: row;
    margin-left: 8px;
}

.play-pause-button {
    background-color: transparent;
    color: white;
    font-size: large;
    transform: scale(1.7, 1);
    border: 0px;
}

.track-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
}

/* .song-title {
    font-size: 16px;
} */

.artist-name-track {
    font-size: 14px;
    color: #a7a7a7;
}

.options-button {
    background-color: transparent;
    color: white;
    letter-spacing: 2px;
    border: 0px;
    margin-right: 8px;

    visibility: hidden;
}

.track-options-dropdown {
    /* display: flex; */
    position: absolute;
    right: 0;
    
    /* flex-direction: column; */

    text-indent: 5px;

    padding: 4px;
    
    /* margin-left: 30px;
    margin-top: 265px; */
    margin-right: 35px;

    background-color: #282828;
    border-radius: 4px;
    box-shadow: 0 16px 24px rgb(0 0 0 / 30%);

    font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif), sans-serif;
}

.track-options-dropdown li {
    height: 40px;
    /* display: flex;
    align-items: center; */
    width: 75px;
}

.track-options-dropdown li:hover {
    background-color: #404040;
}

.remove-track-button {
    background-color: transparent;
    border: 0px;
    color: rgb(255, 255, 255, 0.8);

    font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif), sans-serif;
    font-weight: bold;

    width: 100%;
    height: 100%;
    text-align: left;
}