.search {
    height: 35px;
    width: 260px;
    
    text-indent: 5px;

    padding-left: 40px;

    border-radius: 20px;

    border: none;

    margin-right: 475px;

    background-color: transparent;

    border: 1px solid white;
    color: white;

    position: relative;
}

.search:focus {
    /* border: 1px solid orange; */
    outline: none;
}

.magnifying-glass {
    position: absolute;
    /* color: rgb(35,35,35); */
    color: white;
    transform: scale(1.1);
    padding-left: 10px;
}
