.sideBar {
    position: absolute;
    z-index: 1;
    background-color: black;
    width: 250px;
    height: 100vh;
    /* margin-top: -65px; */
    /* padding-top: 65px; */
    /* overflow: visible; */
}

.logoDiv {
    /* border: 1px solid pink; */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* overflow: hidden; */
    width: fit-content;
    height: 40px;

    margin-top: 25px;
    
    margin-left: 25px;

    cursor: pointer;
}

.logoIcon {
    height: 40px;
}

.logoName {
    color: white;
    font-size: x-large;
    font-weight: bold;
    /* font-family: Helvetica, Arial, sans-serif; */
    letter-spacing: -0.05em;
    margin-left: 5px;

}

.sidebar-links {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-right: 120px;

    color: #a7a7a7;
    margin-top: 30px;
}

.home-div {
    display: flex;
    flex-direction: row;

    transition: color .5s;
}

.home-div:hover {
    color: white;
    cursor: pointer;
    
    transition: color .5s;
}

.home-icon {
    font-size: 25px;

    /* fill: white; */
    margin-top: 3px;
}

.home-text {
    margin-left: 15px;
    margin-top: 10px;

    font-size: 14px;
    font-weight: bold;
}