.album-list-w-header {
    display: flex;
    flex-direction: column;
    /* border: 1px solid plum; */
    margin-left: 250px;

    /* height: 460px; */
    
    color: white;

    /* width: 1000px; */
    
    overflow: scroll;

    height: 100%;
    margin-top: 65px;
    margin-bottom: 90px;
    background-image: linear-gradient(rgb(35, 35, 35), black);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.album-list-w-header::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
.album-list-w-header {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.album-list-w-header > h1 {
    font-size: 22px;
    font-weight: bold;
    margin-left: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.album-list {
    display: flex;
    flex-direction: row;
    padding: 0px 0px; /* was 0px 22px, first value top bottom, second value left right*/
    padding-left: 3px;
    flex-wrap: wrap;
}



.list-item-info {
    display: flex;
    flex-direction: column;

    width: 180px;

    padding: 20px; 
    padding-right: 18px; /* added for downloads bar issue */
    padding-bottom: 40px;

    /* border: 1px solid greenyellow; */
    border-radius: 5px;

    margin: 10px 12px; /* first value top bottom, second value left right*/

    background-color: #151515;

    cursor: pointer;

    transition: background-color .5s;
}

.list-item-info:hover {
    background-color: #292929;
    transition: background-color .5s;
}

.albumPhoto {
    border-radius: 7px;
    box-shadow: 0px 2px 20px black;
}

.albumTitle {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;

    white-space: nowrap;
    
    overflow: hidden;
    text-overflow: ellipsis;
}

.artistName {
    color: #a7a7a7;
}