.album-list-w-header {
    display: flex;
    flex-direction: column;
    border: 1px solid plum;
    margin-left: 250px;

    height: 460px;
    color: white;
}
.album-list-w-header > h1 {
    font-size: 22px;
    font-weight: bold;
    margin-left: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.album-list {
    display: flex;
    flex-direction: row;
    padding: 0px 20px; /* first value top bottom, second value left right*/
    
}

.albumPhoto {
    border-radius: 7px;
}

.list-item-info {
    display: flex;
    flex-direction: column;

    width: 175px;

    padding: 20px;
    padding-bottom: 40px;

    border: 1px solid greenyellow;
    border-radius: 5px;

    margin: 10px 10px; /* first value top bottom, second value left right*/

    
}

.albumTitle {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;

    white-space: nowrap;
    
    overflow: hidden;
    text-overflow: ellipsis;
}


.artistName {
    color: #a7a7a7;

}