.searched-track {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* border: .2px solid hotpink; */
    border-radius: 5px;
    height: 55px;
    padding: 2px;
}

.searched-track:hover {
    background-color: rgba(72,72,72,0.3);
}

.searched-track:hover .searched-track-artist-name {
    color: white;
}

.searched-track-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
}

.searched-track-artist-name {
    font-size: 14px;
    color: #a7a7a7;
}

.add-song-button {
    color: white;
    font-weight: bold;

    background-color: transparent;
    border: 1px solid #878787;
    border-radius: 20px;

    height: 32.5px;
    width: 57.5px;
    margin: auto 0;

    margin-right: 15px;
}

.add-song-button:hover {
    border: 1px solid white;
    transform: scale(1.025);
}