@import './reset.css';

/* TODO Add site wide styles */

html {
    height: 100%;
    font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif), sans-serif;
}

#body {
    height: 100%;
}

.homeControls {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.middle {
    height: 100%;
    display: flex;
    flex-direction: row;
    z-index: 1;
}
