@import './reset.css';

/* TODO Add site wide styles */

html {
    height: 100%;
    font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif), sans-serif;
}

#body {
    height: 100%;
    max-width: 100%;
    background-color: black;
}

.homeControls {
    height: 100vh;

    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.middle {
    height: 100%;
    display: flex;
    flex-direction: row;
    z-index: 1;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
