@import './reset.css';

/* TODO Add site wide styles */

html {
    height: 100%;
    
}

body {
    /* background-repeat: no-repeat; */
    background-image: linear-gradient(rgb(35, 35, 35), black);
    max-width: 100%;
}