/* .album-list-w-header {
    display: flex;
    flex-direction: column;

    margin-left: 250px;

    height: 460px;
    
    color: white;
    
    overflow: scroll;
} */

/* Hide scrollbar for Chrome, Safari and Opera */
/* .album-list-w-header::-webkit-scrollbar {
    display: none;
} */
  
  /* Hide scrollbar for IE, Edge and Firefox */
/* .album-list-w-header {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
} */

/* .album-list-w-header > h1 {
    font-size: 22px;
    font-weight: bold;
    margin-left: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
} */

/* .album-list {
    display: flex;
    flex-direction: row;
    padding: 0px 22px;
    flex-wrap: wrap;
} */



/* .list-item-info {
    display: flex;
    flex-direction: column;

    width: 180px;

    padding: 20px;
    padding-bottom: 40px;

    border-radius: 5px;

    margin: 10px 12px;

    background-color: #151515;

    cursor: pointer;

    transition: background-color .5s;
} */

/* .list-item-info:hover {
    background-color: #292929;
    transition: background-color .5s;
} */

/* .albumPhoto {
    border-radius: 7px;
    box-shadow: 0px 2px 20px black;
} */

/* .albumTitle {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;

    white-space: nowrap;
    
    overflow: hidden;
    text-overflow: ellipsis;
} */

/* .artistName {
    color: #a7a7a7;
} */


.no-search-results {

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
    color: #a7a7a7;
    opacity: 0.3;
    /* border: 1px solid white; */
    
    position: absolute;
    z-index: 5;

    /* width: 50vw; */

    /* margin-left: 200px; */

    left: 283px;  /* 250 + 35 - 2*/
    top: 22vh;

    margin: auto;

}

.oops {
    font-size: 20px;

    font-weight: bold;

    margin-bottom: 10px;

    text-align: center;
}

.try-searching-again {
    text-align: center;
}