.loginForm {
    color: black;
    /* border: 1px solid black; */
    height: fit-content;

    margin-top: 100px;
    /* margin-bottom: 50px; */

    display: flex;
    flex-direction: column;
    font-family: "Helvetica";
    font-size: 13px;

    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.loginFormHeader {
    font-weight: bolder;
    font-size: large;
    text-align: center;

    margin-top: 25px;
    margin-bottom: 25px;
}

#loginLabel {
    font-weight: bold;
}

#loginInput {
    width: 450px;
    height: 45px;
    border: 1px solid gray;
    border-radius: 5px;

    text-indent: 5px;

    margin-top: 10px;
    margin-bottom: 20px;
}

#loginInput::placeholder {
    font-size: 14px;
}

.loginPage {
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
}

.loginButtonsDiv {
    display: flex;
    justify-content: space-between;

    margin-top: -10px;
}

.loginButton {
    background-color: #1ed760;
    font-weight: bold;
    font-size: 14px;
    height: 55px;
    width: 140px;

    border-radius: 40px;
    border: none;
    
    margin-left: 2.5px;
    /* margin: 0 auto; */

    margin-top: 30px;
    margin-bottom: 20px;
}

.loginButton:hover {
    background-color: #1fdf64;

    height: 57px;
    width: 145px;
    font-size: 15px;

    margin-left: 0px;

    margin-top: 29px;
    margin-bottom: 19px;
}

.demoUserButton {
    background-color: #1ed760;
    font-weight: bold;
    font-size: 14px;
    height: 55px;
    width: 140px;

    border-radius: 40px;
    border: none;
    
    margin-right: 2.5px;
    /* margin: 0 auto; */

    margin-top: 30px;
    margin-bottom: 20px;
}

.demoUserButton:hover {
    background-color: #1fdf64;

    height: 57px;
    width: 145px;
    font-size: 15px;

    margin-right: 0px;

    margin-top: 29px;
    margin-bottom: 19px;
}

.loginDiv {
    display: flex;
    flex-direction: column;
}

.dontHaveAccount {
    margin: 0 auto;
    margin-top: 35px;

    font-weight: bolder;
}

.signupLinkButton {
    margin-top: 25px;

    border-radius: 40px;
    padding: 15px 31px; /* real values 13px 31px */

    background-color: transparent;
    border: 1px solid #878787;

    color: #6a6a6a;
    font-weight: 700;

    letter-spacing: 0.100em; /* real value 0.107em */

    transition: .25s;
}

.signupLinkButton:hover {
    border-color: black;

    transition: .25s;
}