/* body {
    background-image: none;
    background-color: white;
} */

.loginForm {
    color: black;
    border: 1px solid black;

    margin-top: 25px;

    display: flex;
    flex-direction: column;
}

#body {
    background-image: none;
    background-color: green;
}

.loginPage {
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
}