/* body {
    background-image: none;
    background-color: white;
} */

.loginForm {
    color: black;
    border: 1px solid black;

    margin-top: 50px;
    /* margin-bottom: 50px; */

    display: flex;
    flex-direction: column;
}

#loginLabel {
    font-weight: bold;
}

#loginInput {
    width: 450px;
    height: 40px;
    text-indent: 10px;
}

.loginPage {
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
}