.signupForm {
    color: black;
    border: 1px solid black;

    margin-top: 50px;
    /* margin-bottom: 50px; */

    display: flex;
    flex-direction: column;
}

.signupFormHeader {
    font-weight: bolder;
    font-size: large;
    text-align: center;
}


#signupLabel {
    font-weight: bold;
}

#signupInput {
    width: 450px;
    height: 40px;
    text-indent: 5px;
}


.signupPage {
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
}