.song-details-container {
    z-index: 3;
    position: absolute;

    display: flex;
    flex-direction: row;
    
    color: white;

    width: 325px;
    height: 90px;

    border: 1px solid yellow;

}


.details-album-photo {
    
}

.details-song-title-and-artist-name {
    display: flex;
    flex-direction: column;
}

.details-song-title {

}

.details-artist-name {

}