#body {
    /* background-repeat: no-repeat; */
    background-image: linear-gradient(rgb(35, 35, 35), black);
    /* background-image: linear-gradient(#212121, #121212); */
    max-width: 100%;
}

#topNavBar {
    background-color: rgba(0, 0, 0, 0.5);
    /* top: 0; */
    /* overflow: hidden; */
    /* position: fixed; */
    width: 100%;

    height: 65px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#topNavBarLoggedIn {
    background-color: rgba(35, 35, 35, 0.5);
    /* background-color: transparent; */
    /* top: 0; */
    /* overflow: hidden; */
    /* position: fixed; */
    width: 100%;

    height: 65px;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    z-index: 0;
}

#topNavBar li {
    color: white;
    /* position: absolute; */
    list-style: none;
}

#topNavBarLoggedIn li {
    color: white;
    /* position: absolute; */
    list-style: none;
}

.nav-item {
    color: gray;
    text-decoration: none;
    font-weight: bold;
}

.nav-item:first-child:hover {
    color: white;
    font-size: 17px;

    margin-left: -2px;
    margin-right: -2px;
}

.nav-item button {
    background-color: white;
    font-weight: bold;
    font-size: 14px;
    height: 53px;
    width: 115px;

    border-radius: 40px;

    margin-right: 30px;
    margin-left: 30px;
}

.nav-item button:hover {

    height: 55px;
    width: 120px;

    font-size: 15px;

    margin-right: 27.5px;
    margin-left: 27.5px;
}


.profileButton {
    /* font-family: "Helvetica"; */
    display: flex;
    align-items: center;

    background-color: #000000;
    color: white;
    font-weight: bold;
    font-size: 14px;
    height: 32px;
    width: fit-content;

    border-radius: 40px;
    border: none;

    margin-right: 30px;

    /* row-gap: 20px; */
}

.profileButton:hover {
    background-color: #181818;
}

.fa-user {
    background-color: #535353;
    padding: 7px;
    border-radius: 50%;
    /* text-align: center; */
    line-height: 14px;
    /* vertical-align: middle; */
    margin-right: 10px;
    margin-left: -3px;

}

.fa-caret-down {
    margin-left: 10px;
    margin-right: 5px;
    font-size: 16px;
}

.fa-caret-up {
    margin-left: 10px;
    margin-right: 5px;
    font-size: 16px;
}

.profile-dropdown {
    display: flex;
    position: absolute;
    /* justify-content: center; */
    flex-direction: column;
    /* align-items: flex-start; */
    text-indent: 5px;

    right: 0;

    background-color: #282828;
    border-radius: 4px;
    box-shadow: 0 16px 24px rgb(0 0 0 / 30%);

    margin-top: 10px;
    margin-right: 30px;
    padding: 4px;

    font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif), sans-serif;
}

.profile-dropdown li {
    height: 40px;
    display: flex;
    align-items: center;
    width: 175px;
}

.profile-dropdown li:hover {
    background-color: #404040;
}

.logoutButton {
    background-color: transparent;
    border: 0px;
    color: rgb(255, 255, 255, 0.8);

    font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif), sans-serif;
    font-weight: bold;

    width: 100%;
    height: 100%;
    text-align: left;
}